[submodule "sources/qemu"]
	path = sources/qemu
	url = git@github.com:cometzero/qemu.git
	branch = feature/qemu_boot
[submodule "sources/u-boot"]
	path = sources/u-boot
	url = git@github.com:cometzero/u-boot.git
	branch = feature/qemu_boot
[submodule "sources/opensbi"]
	path = sources/opensbi
	url = git@github.com:cometzero/opensbi.git
	branch = feature/qemu_boot
[submodule "sources/linux"]
	path = sources/linux
	url = git@github.com:cometzero/linux.git
	branch = feature/qemu_boot
[submodule "sources/buildroot"]
	path = sources/buildroot
	url = git@github.com:cometzero/buildroot.git
	branch = feature/qemu_boot
[submodule "sources/optee_os"]
	path = sources/optee_os
	url = git@github.com:cometzero/optee_os.git
	branch = feature/qemu_boot
